BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: All
BreakStringLiterals: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AlignAfterOpenBracket: Align
